/* FONT */
@font-face {
	font-family: pewdiepieFont;
	src: url(font/FEASFBI_.ttf);
}
@font-face {
	font-family: pewdiepieFontTekst;
	src: url(font/Cartoony.ttf);
}
@font-face {
	font-family: BarkerFont;
	src: url(font/Gotham.ttf);
}
/* /FONT */

/* NAVBAR */
.nav {
	text-align: center;
	font-family: pewdiepieFontTekst;
	font-size: 12px;
}
.nav a {
	color: rgb(10,180,227);
}
.paginationcss {
	width: 100px;
	margin-left: auto ;
	margin-right: auto ;
	text-decoration: none;
	color: black;
}
/* /NAVBAR */

/* CONTAINER */
body {
	background-image: url("../img/pewdiepie-background.jpg");
}
.container {
	background-color: white;
	height: 100%;
}
.information-centered{

}
.widgets {
	margin-right: 35px;
	margin-left: auto;
	display: flex;
	z-index: 9;
}
/* /CONTAINER */

/* FOOTER */
footer.footer {
	z-index: -1;
}
footer.information {
	margin: auto;
}
/* /FOOTER */

/* ABOUT */

/* /ABOUT */

/* MEDIA QUERY */
@media (max-width: 2000px) {
	.banner_image {
		 max-width: 100%;
	}

} @media (max-width: 600px) {
	.banner_image {
		max-width: 0;
	}

}